/***************************************************
    RESET 
****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

i {
    cursor: pointer;
}

i:hover {
    transform: scale(1.2);
}

/* WRAPPER */
.wrapper {
    background-image: linear-gradient(to bottom, #029688 20%, #d9dbd6 0%);
    width: 100%;
    min-width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************************
    TIPOGRAFIA 
*****************************************************/
h1 {
    font-size: 1rem;
    font-weight: 400;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

/* FINESTRA APP */
.finestra-app {
    width: 80%;
    height: 90%;
    min-width: 800px;
    min-height: 200px;
    display: flex;
}

/******************************************************
    LISTA MESSAGGI 
*******************************************************/
.sezione-lista-messaggi {
    width: 40%;
    height: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.header-section {
    background-color: #eaeaea;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
}

.immagine-profilo {
    max-width: 40px;
    border-radius: 50%;
}

.icone-header {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 1em;
    color: #b1b1b1;
}

/* Banner notifiche */
.banner-notifiche {
    background-color: #8edafc;
    display: flex;
    padding: 1em;
    gap: 1em;
}

.banner-notifiche h2 {
    font-size: 1rem;
    font-weight: 400;
}

.link-notifiche {
    color: dimgray;
    font-size: 0.8rem;
}

.scritte-informative {
    color: #a7a6a4;
    font-size: 0.8rem;
    font-weight: 500;
}

.campanella {
    color: #8edafc;
    background-color: white;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra Ricerca */
.barra-di-ricerca {
    background-color: #fafafa;
    padding: 0.3em;
    display: flex;
    align-items: center;
}

#ricerca-messaggi {
    width: 100%;
    padding: 0.5em;
    border: 1px solid gainsboro;
    background-color: #fafafa;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    outline: none;
}

.icona-ricerca {
    color: rgb(177, 176, 176);
    padding: 0.3em;
    border: 1px solid gainsboro;
    background-color: #fafafa;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    cursor: pointer;
}

/*Lista chat*/
.lista-chat ul {
    list-style: none;
}

.lista-chat {
    overflow-y: auto;
    max-height: 80%;
}

.chat {
    display: flex;
    background-color: #fafafa;
    padding: 0.5em 0em;
    border-top: 0.5px solid gainsboro;
    cursor: pointer;
}

.foto-chat {
    width: 15%;
    border-radius: 50%;
    margin: 0.2em 1em;
}

.orario-chat {
    font-size: 0.6rem;
    font-weight: 900;
    color: lightgray;
    flex-grow: 1;
    text-align: end;
    padding: 0em 1em;
}

.stato-chat {
    color: rgb(152, 149, 149);
    font-size: 0.8rem;
    padding: 0.3em 0em;
}

.chat h2 {
    font-size: 1rem;
}


/****************************************************
    CHAT BOX
*****************************************************/
.chat-box {
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

.chat-box .header-section {
    border-left: 1px solid #b1b1b1;
}

/* Main invia messaggio */
.storico-chat {
    flex-grow: 1;
    padding: 2em 2em 0em 2em;
    overflow-y: auto;
}

div:has(>.messaggi) {
    padding: 0.5em 0em;
}

.messaggi {
    color: rgb(81, 81, 81);
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 80%;
    display: inline-block;
    padding: 1.2em 5em 1.2em 1.6em;
    border-radius: 15px;
    word-wrap: break-word;
}

.inviato {
    text-align: end;
}

.ricevuto {
    text-align: start;
}

.inviato h6 {
    background-color: #d5f9ba;
    position: relative;
}

.ricevuto h6 {
    background-color: white;
    position: relative;
}

.orario-messaggio {
    position: relative;
    top: 10px;
    right: 35px;
    font-size: 0.5rem;
    color: #a7a6a4;
}

/* Footer invia messaggio */
.invia-messaggio {
    background-color: #f3eee9;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.invia-messaggio i {
    color: gray;
}

.sezione-messaggio-da-inviare {
    flex-grow: 1;
}

#messaggio-da-inviare {
    width: 100%;
    border-radius: 5px;
    padding: 0.8em;
    border: 1px solid gainsboro;
    background-color: #fafafa;
    outline: none;
}

.microfono:active {
    color: #029688;
}


/*************************************************
CLASSI DINAMICHE 
**************************************************/
.chat-selezionata{
    background-color: #e9ebeb;
}