<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Iso&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200;300;400;500;600;700;800&family=Tilt+Prism&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <!-- Vue -->
    <div id="app">
        <!-- Wrapper -->
        <div class="wrapper">
            <!-- Finestra app -->
            <div class="finestra-app">

                <!-- LISTA MESSAGGI -->
                <section class="sezione-lista-messaggi">
                    <!-- Sezione header utente -->
                    <header class="header-section">
                        <img class="immagine-profilo" src="img/avatar_io.jpg" alt="foto-profilo">
                        <h1>Sofia</h1>
                        <div class="icone-header">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- Banner notifiche -->
                    <div class="banner-notifiche">
                        <span class="campanella">
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>
                        <div>
                            <h2>Ricevi notifiche di nuovi messaggi</h2>
                            <a class="link-notifiche" href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- Barra Ricerca -->
                    <div class="barra-di-ricerca">
                        <span class="icona-ricerca"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <label for="ricerca-messaggi"></label>
                        <input type="search" name="ricerca" id="ricerca-messaggi" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- Lista chat -->
                    <div class="lista-chat">
                        <ul v-for="(contatto,index) in contatti">
                            <li class="chat">
                                <img class="foto-chat" :src="'img/avatar'+contatto.avatar+'.jpg'" :alt="contatto.avatar">
                                <div>
                                    <h2>{{ contatto.name }}</h2>
                                    <p class="stato-chat">Ultimo messaggio inviato</p>
                                </div>
                                <span class="orario-chat">
                                    12:00
                                </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- FINE LISTA MESSAGGI -->

                <!-- CHAT BOX -->
                <section class="chat-box">
                    <header class="header-section">
                        <img class="immagine-profilo" src="img/avatar_1.jpg" alt="foto-profilo-Michele">
                        <div>
                            <h2>Michele</h2>
                            <p class="scritte-informative">Ultimo accesso oggi alle 12:00</p>
                        </div>
                        <div class="icone-header">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- STORICO DELLE CHAT -->
                    <main class="storico-chat">
                        <div v-for="(messaggio,index) in contatti[0].messages" :class="messaggio.status === 'sent' ? 'inviato' : 'ricevuto' ">
                            <h6 class="messaggi messaggi-inviati">{{ messaggio.message }}</h6>
                            <span class="orario-messaggio">
                                15:30
                            </span>
                        </div>
                        
                    </main>
                    <!-- FINE STORICO DELLE CHAT -->
                    <!-- Sezione per inviare i messaggi -->
                    <footer class="invia-messaggio">
                        <i class="fa-regular fa-face-smile"></i>
                        <div class="sezione-messaggio-da-inviare">
                            <label for="messaggio-da-inviare"></label>
                            <input type="text" name="messaggio" id="messaggio-da-inviare" placeholder="Scrivi un messaggio">
                        </div>
                        <i class="fa-solid fa-microphone"></i>
                    </footer>
                </section>
                <!-- FINE CHAT BOX -->

            </div>
            <!-- fine finestra app -->
        </div>
        <!-- Fine wrapper -->
    </div>
    <!-- Fine Vue -->
    
    <!-- Script -->
    <script src="js/script.js"></script>
</body>
</html>